<!-- Credits https://github.com/ErikGartner/dTree-->

<% var rootPath= '../'; %>
  <%- include(rootPath + 'partials/header'); %>

    <style type="text/css">
  .linage {
    fill: none;
    stroke: #000;
  }
  .marriage {
    fill: none;
    stroke: black;
  }
  .man {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
  }
  .woman {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
  }
  .emphasis {
    font-style: italic;
  }
  .namebox {
    padding: 0;
    margin: 0;
  }
  svg {
    border-style: solid;
    border-width: 1px;
  }
  textarea {
    width: 95%;
    height: 300px;
  }
</style>

    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/dTree.js"></script>

    <div class="container">
      <h2>Stammbaum</h2>

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
            href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">Visuell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
            href="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false">Daten</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
          aria-labelledby="pills-home-tab">
          <div id="graph"></div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
          aria-labelledby="pills-profile-tab">
          <textarea id="relationsJson"></textarea>
        </div>

      </div>



    </div>

    <script>
  LoadFamilyTree();

  var relationsJsonArea = document.getElementById("relationsJson");
  if(relationsJsonArea.addEventListener){
    relationsJsonArea.addEventListener("input", function(){
      // Family Tree neu bauen, aber diesmal mit den Daten aus dem Textfeld
      // -> Family Tree die Dependency von außen mit reingeben, was gerendert werden soll :)
    }, false);
  }


  async function getRelations() {
    const relationRequest = await fetch("/familytree/relations");
    const relations = await relationRequest.json();
    return relations;
  }

  async function LoadFamilyTree() {
    var hRelations = await getRelations();
    document.getElementById("relationsJson").value = JSON.stringify(hRelations);
    FillDTreeWithRelations(hRelations);
  }

  function FillDTreeWithRelations(_relations) {
    dTree.init(_relations, {
      target: "#graph",
      debug: true,
      height: 800,
      width: 1200,
      callbacks: {
        nodeClick: function(name, extra) {
          alert("Click: " + name);
        },
        nodeRightClick: function(name, extra) {
          alert("Right-click: " + name);
        },
        textRenderer: function(name, extra, textClass) {
          if (extra && extra.nickname)
            name = name + " (" + extra.nickname + ")";
          return (
            "<p align='center' class='" +
            textClass +
            " namebox'>" +
            name +
            "</p>"
          );
        }
      }
    });
  }
</script>

    <%- include(rootPath + 'partials/footer'); %>
