<% var rootPath = '../'; %> <%- include(rootPath + 'partials/header'); %>

<div class="container">
      
  <h1>Beschreibung des Webseiten Projekts</h1>
  <p><strong>Ausgangssituation</strong>: Vor einigen Jahren (so im Alter 12-14) habe ich mich mal mit der Webentwicklung auseinander gesetzt. Zu diesem Zeitpunkt hatte ich noch keinerlei Kenntnisse was die Programmierung anging. Ich hatte einen Webserver und eine Domain zur Verfügung, jedoch hatte ich keinerlei Kenntnisse von der Webentwicklung. Mit etwas Recherche eigente ich mir ein paar HTML und CSS Kenntnisse an und gestaltete meine erste Webseite. Ich glaube Javascript war damals noch nicht so präsent. Das Design war nicht das schönste und der Umfang war sehr überschaubar. Aber es war mich möglich Einblicke in die Webentwicklung zu bekommen und etwas neues dazu zu lernen. </p>
  <p>Mit der Zeit verschiebten sich meine Prioriäten und es blieb immer weniger Zeit (vielleicht auch Lust) für die Webseite übrig, sodass ich das ganze dann wieder offline nahm. Ein paar Jahre später wurde ich gefragt ob ich die Webseite für eine Musikveranstaltung erstellen kann, die einmal im Jahr stattfindet. In den Anforderungen waren (zunächst :D ) keine großen neuen Techniken im Vergleich zu meiner damaligen eigenen Webseite, sodass ich dieses Projekt übernahm. Nach einiger Zeit war dieses Projekt jedoch auch wieder vorbei.</p>
  <p>Wieder einige Zeit später kam ein Fußballverein aus der Gegend auf mich zu, der sich gerade neu gegründet hatte und nun eine Webseite benötigte. Jedoch waren diesmal die Anforderungen ganz andere und ich musste mich selbst erst mal wieder mit der Thematik beschäftigen. Da es nun Anforderungen wie: Gästebücher, Benutzerverwaltung, Rechte-Vergabe, Veranstaltungspflege, ... gab, konnte ich meine alten HTML und CSS Kenntnisse nicht mehr nutzen und ein alternativer Ansatz musste her. Deshalb entschied ich mich die Webseite mit WordPress umzusetzen. Über die Kombination diverser Erweiterungen war es dann möglich die meisten Anforderungen umzusetzen. WordPress hatte schon viele Standardlösungen die einiges an Arbeit abnahm.</p>
  <p>In den letzten Jahren hat die Webentwicklung eine rasante Fahrt aufgenommen, was nicht zuletzt an der Popularität von Javascript liegt. Es gibt immer mehr Frameworks welche die Arbeit erleichtern, beziehungsweise ganz neue Möglichkeiten bieten. Seitdem ich tiefer in der Softwareentwicklung drin bin (Ausbildung, Studium) habe ich den Eindruck, dass die Webentwicklung beziehungsweise WebApps immer attraktiver werden und oft nativen Anwendungen Konkurrenz machen. Andererseits habe ich auch gemerkt, dass meine Kenntnisse im Bereich Webentwicklung und Javascript nicht die Besten sind. Deshalb war meine Überlegung kleine Projekte zu machen, welche mit dem Webentwicklung zu tun haben um so etwas zu dem Thema zu lernen.</p>
  <p><strong>Ziel des Projektes</strong> ist es eine Webseite zu erstellen die als Portfolio Seite dienen kann und über meine Projekte informiert. Dabei will ich mich technologisch nicht einschränken, sondern möglichst viel rumprobieren.</p>
  <p>Wichtig war mir dabei, dass ich sowohl das Front- als auch Backend selber (Bibliotheken ausgenommen) erstelle um so mehr zu lernen.</p>
  <p>&nbsp;</p>
  <h3>Was habe ich bisher gemacht?</h3>
  <p>Um überhaupt eine Orientierung zu haben was aktuell ist, beziehungsweise um einen Einstiegspunkt zu haben, startete ich mit einem Udemy-Kurs zur Webentwicklung: <em>The Web Developer Bootcamp</em> (<a href='https://www.udemy.com/the-web-developer-bootcamp/' target='_blank' class='url'>https://www.udemy.com/the-web-developer-bootcamp/</a>). Mit diesem Kurs und einiger Selbstrecherche habe ich dann begonnen meine eigene Webseite zu entwickeln. Vermutlich wird die Webseite verschiedene Ausbaustufen erhalten, da ich immer wieder neue Sachen ausprobieren, beziehungsweise entwickeln möchte. Deshalb wird diese Seite hier vielmehr als Historie und Dokumentation der verschidenen Ausbaustufen dienen :) </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
  
</div>

<%- include(rootPath + 'partials/footer'); %>
