<% var rootPath = '../'; %> <%- include(rootPath + 'partials/header'); %>

<div class="container">
      
  <h1>Beschreibung des Stammbaums Projekt</h1>
  
  <p>
    <strong>Ausgangssituation</strong>: Es gab schon länger die Idee in der
    Familie den Stammbaum der Familie aufzuzeichnen, beziehungsweise weiter zu
    pflegen. Dies wurde bereits analog gemacht und meiner Großmutter ein
    gemaltes Exemplar zum Geburtstag geschenkt. Um den Stammbaum auch digital zu
    haben und erweitern zu können habe ich mich daran gesetzt einen solchen
    Stammbaum zu entwickeln.
  </p>
  <p>
    <strong>Ziel des Projektes</strong> war es also einen digitalen
    Familienstammbaum zu erstellen. Dieser sollte lediglich einen fixen
    Stammbaum darstellen (also ohne Editierfunktion).
  </p>
  <p>
    Von der Entwicklung des Stammbaums und der Integration in die Webseite habe
    ich mir zudem erhofft noch weitere Einblicke in der Webentwicklung zu
    sammeln.
  </p>
  <p>&nbsp;</p>
  <h3>Was habe ich bisher gemacht?</h3>
  <p>
    Zunächst stand die Suche nach einer passenden Visualisierungbibliothek für
    den Stammbaum an. Dabei wurde ich sehr schnell auf die dTree Bibliothek von
    ErikGartner (<a
      href="https://github.com/ErikGartner/dTree"
      target="_blank"
      class="url"
      >https://github.com/ErikGartner/dTree</a
    >) aufmerksam, die genau das machte was ich wollte. Die Visualisierung von
    Datenbäumen, die auch mehrfahre Elternknoten zulässt.
  </p>
  <p>
    Nachdem ich die Demo von dTree lokal funktionierte, begann ich damit die
    Demo in meine Webseite mit einzubauen. dTree ist zwar auch über ein CDN
    zugreifbar, jedoch war es mir wichtig die Bibliothek selber über den
    Webserver anbieten zu können, um so vom CDN unabhängig zu sein. Die weiteren
    Abhängigkeiten (wie z.B. d3js oder lodash) werden jedoch von externen
    Quellen bezogen.
  </p>
  <p>
    Daraufhin wurde die dTree Demo mit in die Webseite eingebunden und das
    Grundgerüst stand somit. Der nächste Schritt war die Analyse der
    Datenstruktur. Wie werden also die Familienverhältnisse repräsentiert. Die
    dahinter liegende JSON-Struktur ist recht verständlich, sodass ich testweise
    die ersten Anpassungen vorgenommen habe um die Demo-Daten durch reale Daten
    zu ersetzen. Die JSON-Datenstruktur war jedoch noch mit im
    <code>script</code> Teil der HTML-Seite eingebunden, was ich als nicht so
    schön empfand. Deshalb habe ich die Datenstrukur in eine eigene Datei
    ausgelagert und auf die JSON-Daten kann über eine eigene Route (API)
    zugegriffen werden. Davon machte dann das Frontend auch gebrauch, sodass
    beim Laden des Stammbaums die benötigten Daten über die Fetch-API bezogen
    werden. Damit war dann die Datenhaltung schon mal etwas entkoppelt. Sollten
    die Daten zu einem späteren Zeitpunkt mal aus einer Datenbank kommen, so
    sind die notwendigen Anpassungen nicht so groß.
  </p>
  <p>Damit stand das Grundgerüst und es stand die Pflege der Daten an.</p>
  <p>&nbsp;</p>

  <a href="/projects/familytree" class="btn btn-primary">Zum Stammbaum</a>
</div>

<%- include(rootPath + 'partials/footer'); %>
