<% var rootPath = '../'; %>
<%- include(rootPath + 'partials/header'); %>

<div class="container">
    <h2>Beschreibung des Stammbaums</h2>
    <p>Diese Seite sollte aus einer Markdown Datei generiert werden.</p>
    <a href="/projects/familytree" class="btn btn-primary">Zum Stammbaum</a>
</div>

<%- include(rootPath + 'partials/footer'); %>