@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}


body{
  background-color: #303030;
  color: white;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
}

a{
  color: cornflowerblue;
  text-decoration: underline;
}

p{
  margin-bottom: 1em;
}