/*
The posts are sourrounded by a div container with the blog-post class.
So it's possible to style them separate.
*/



.blog-post ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.blog-post a {
    text-decoration: underline;
}

.blog-post p {
    margin-top: 2rem;
}

.blog-post h1 {
    font-size:2.5rem;
}

.blog-post h2 {
    font-size:2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog-post h3 {
    font-size:1.5rem;
}

