.markdown-post h1 {
  margin-top: 30px;
}
.markdown-post h2,
.markdown-post h3,
.markdown-post h4,
.markdown-post h5,
.markdown-post h6 {
  margin-top: 50px;
}

.markdown-post a {
  color: grey !important;
}

.language-text {
  background-color: transparent !important;
  color: black !important;
  margin-left: 5px;
  margin-right: 5px;

  border-style: solid;
  border-width: 0.5px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
