<% include partials/header %>

<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge">
        <i class="glyphicon glyphicon-check"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Georg.create()</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 1992</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="glyphicon glyphicon-credit-card"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Realschule Monschau</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time">2003 - 2009</i>
            </small>
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger">
        <i class="glyphicon glyphicon-credit-card"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Fachabitur</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 2009 - 2011</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Ausbildung FIAE</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 2011 - 2014</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">B.Sc. Ingenieurinformatik</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 2014-2018</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Praxissemester Bosch Engineering</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 03/2017 - 08/2017</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">M.Sc. ISE</h4>
          <p>
            <small class="text-muted"
              ><i class="glyphicon glyphicon-time"></i> 2018+</small
            >
          </p>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
  </ul>
</div>
<% include partials/footer %>
