<% include partials/header %>

    <div class="container">
        <section id=timeline>
            <h1>Lebenslauf</h1>
            <p class="leader"></p>
            <div class="demo-card-wrapper">
                <div class="demo-card demo-card--step1">
                    <div class="head">
                        <div class="number-box">
                            <span>11.1992</span>
                        </div>
                        <h2><span class="small">Geburt</span> new human()</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                       
                    </div>
                </div>

                <div class="demo-card demo-card--step2">
                    <div class="head">
                        <div class="number-box">
                            <span>2003-2009</span>
                        </div>
                        <h2><span class="small">Realschule</span> ECR-Monschau</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>

                <div class="demo-card demo-card--step3">
                    <div class="head">
                        <div class="number-box">
                            <span>2009-2011</span>
                        </div>
                        <h2><span class="small">Fachabitur</span> Wirtschaft & Verwaltung</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>

                <div class="demo-card demo-card--step4">
                    <div class="head">
                        <div class="number-box">
                            <span>2011-2014</span>
                        </div>
                        <h2><span class="small">Ausbildung</span> FIAE</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>

                <div class="demo-card demo-card--step5">
                    <div class="head">
                        <div class="number-box">
                            <span>2014-2018</span>
                        </div>
                        <h2><span class="small">B.Sc</span> Informatik</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>

                <div class="demo-card demo-card--step2">
                    <div class="head">
                        <div class="number-box">
                            <span>2014+</span>
                        </div>
                        <h2><span class="small">Werkstudent</span> Inform GmbH</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>
                

                <div class="demo-card demo-card--step3">
                    <div class="head">
                        <div class="number-box">
                            <span>03/2017-08/2017</span>
                        </div>
                        <h2><span class="small">Praxissemester</span> Bosch Engineering</h2>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Soluta reiciendis deserunt doloribus
                            consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>

            </div>
        </section>
    </div>
    <% include partials/footer %>