<% include partials/header %>

<div class="container">
  <div class="page-header">
    <h1 id="timeline">Lebenslauf</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge success">
        <i class="fas fa-wrench"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Georg.create()</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 1992</small
            >    
          </br>
          <small class="text-muted"
            ><i class="fas fa-map-marker-alt"></i> Simmerath</small
          >        
          </p>
        
          
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="fas fa-school"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Realschule Monschau</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock">2003 - 2009</i>
            </small>
          </br>
            <small class="text-muted"
            ><i class="fas fa-map-marker-alt"></i> Monschau</small
          >             
          </p>
        </div>
        <div class="timeline-body">
          <p>Elwin-Christoffel-Realschule</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger">
        <i class="fas fa-school"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Fachhochschulreife</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 2009 - 2011</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Aachen</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Berufskolleg für Wirtschaft und Verwaltung, Simmerath</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info">
        <i class="fas fa-industry"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Ausbildung Fachinformatiker Anwendungsentwicklung</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 2011 - 2014</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Oberforstbach (Aachen)</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Ausbildung zum Fachinformatiker bei der INFORM GmbH in Aachen.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge warning">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">B.Sc. Ingenieurinformatik</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 2014-2018</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Aachen</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Studium der Informatik an der Fachhochschule Aachen mit dem Schwerpunkt Ingenieurinformatik.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge danger">
        <i class="fas fa-briefcase"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Werkstudent Softwareentwickler</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 2014+</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Oberforstbach (Aachen)</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Werksstudenten-Tätigkeit als Softwareentwickler bei der INFORM GmbH.</p>
        </div>
      </div>
    </li>    
    <li>
      <div class="timeline-badge success">
        <i class="fas fa-route"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Praxissemester Bosch Engineering</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 03/2017 - 08/2017</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Abstatt</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Praxissemester bei der Bosch Engineering GmbH in Abstatt.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">M.Sc. Information Systems Engineering</h4>
          <p>
            <small class="text-muted"
              ><i class="far fa-clock"></i> 2018+</small
            >
          </br>
          <small class="text-muted"
          ><i class="fas fa-map-marker-alt"></i> Aachen</small
        >               
          </p>
        </div>
        <div class="timeline-body">
          <p>Master-Studiengang Information Systems Engineering an der Fachochschule Aachen.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<% include partials/footer %>
