<% include partials/header %>


<div class="container">
  <div class="row">
      <% Articles.forEach(function(article){ %>
        <div class="col-sm-6">
          <div class="card">
            <img src="/images/project-website-image.jpg" alt="FamilyTreeImage" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <span class="badge badge-info">Aktiv</span>
            <p class="card-text">Markdown BABY!</p>
            <a href="<%= article.route %>" class="btn btn-primary">Mehr</a>
          </div>
        </div>
  
        </div>
        <% });  %> 

  </div>
</div>

<% include partials/footer %>
