.circle-avatar {
  width: 150px;
  border-radius: 50%;
}

#header-visitenkarte {
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-icon-list {
  padding-top: 2em;
  padding-bottom: 1em;
}

.profile-icon {
  font-size: 2em;
  color: black;
  margin-left: 20px;  
}

#menu{
  padding-bottom: 1em;
}

#footer-menu{
  font-size: 0.75em;  
  margin-top: 1em;
}

#footer-impressum{
  color: darkgrey;
}


/* Bei großen Fenstern soll der Avatar direkt neben dem Text sein*/
@media (min-width: 577px) { 
  #avatar-div{    
    text-align: right;
  }
}
/* Ist das Fenster eher klein, so soll der Avatar zentriert sein*/
@media (max-width: 576px) { 
  #avatar-div{    
    text-align: center;
    margin-bottom: 1em;
  }

  #visitenkarte-beschreibung {
    line-height: 1.5em;
    text-align: center;
  }
}


